swagger: '2.0'
info:
  version: 1.0.0
  title: ElasTest Instrumentation Manager
  description: RESTful API specification for the ElasTest Instrumentation Manager (EIM)
  termsOfService: TBD
  contact:
    name: David Rojo (ATOS)
    email: david.rojoa@atos.net
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: elastest.io
basePath: /api
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /publickey:
    get:
      tags:
        - Publickey
      summary: Retrieve public key
      description: A client retrieves the public key
      operationId: getPublickey
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/Publickey'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/agent/{agentId}':
    get:
      tags:
        - Agent
      summary: Retrieve a agent
      description: Returns the agent with the given ID. Returns all its details.
      operationId: getAgentByID
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: agentId
          in: path
          description: ID of agent
          required: true
          type: string
      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/AgentFull'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Network not found
          schema:
            $ref: '#/definitions/AgentFull'
    delete:
      tags:
        - Agent
      summary: Delete a agent
      description: A client delete a agent
      operationId: deleteAgentByID
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: agentId
          in: path
          description: Id of agent to delete
          required: true
          type: string
      responses:
        '200':
          description: Network deleted successfully
          schema:
            type: string
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Network not found
          schema:
            type: string
  /agent:
    get:
      tags:
        - Agent
      summary: Returns all existing agents
      description: Returns all agents with all details
      operationId: getAllAgents
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/AgentFull'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    post:
      tags:
        - Agent
      summary: Register an agent
      description: A client registers an agent
      operationId: postAgent
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Definition of an agent that is going to be created
          required: true
          schema:
            $ref: '#/definitions/Host'
      responses:
        '200':
          description: Agent creation OK
          schema:
            $ref: '#/definitions/Agent'
        '201':
          description: Created
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Agent'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/agent/{agentId}/{actionId}':
    post:
      tags:
        - Agent
      summary: Submit an action ti an agent
      description: A client submit an action to an agent
      operationId: postAction
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: agentId
          in: path
          description: Id of agent to that receives the action
          required: true
          type: string
        - name: actionId
          in: path
          description: action to apply
          required: true
          type: string
      responses:
        '200':
          description: Action applied OK
          schema:
            $ref: '#/definitions/AgentFull'
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/AgentFull'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Agent not found
          schema:
            $ref: '#/definitions/AgentFull'
definitions:
  Publickey:
    type: object
    required:
      - publickey
    properties:
      publickey:
        type: string
        example: >-
          ssh-rsa
          AAAAB3NzaC1yc2EAAAADAQABAAABAQCp9ujzo4XgfcFFHZqqHvf25PP/TSAP89pxSx9sqsNsY7EPOMTpQVpYRuooaJQk7pwr8SzHJkWA2KzNcfs1hneIsfWPqhDmeDliwm3cFIrPQ3juFaoD03eRzS36F+qKyN8og5PxSCPSBtDdvdn0gvTA9j1IXQJ4oeUIxr3s8dIJiYpKY3wQeJTVCRQNGHZWrnjgSZ0YCH0wiEpUAT4mfUWmpjSyVmH8q2l2REuJbgVy5rQ7sMqaf/BvbAiKgqLYDOrcGQNjGj6in1Fuwj9vPvhyvRaNrkfj2NuA5RFN+2wPbYyClxEurFJWsD/GEHNKnd/0X88ubhZ89sIEiUYL8KB
          root@0b83a3aa4d3a
    description: This entity defines the publickey of EIM.
  Agent:
    type: object
    required:
      - agentId
      - host
    properties:
      agentId:
        type: string
      host:
        type: string
    description: This entity defines an agent.
  Host:
   type: object
   required:
      - address
      - user
      - private_key
   properties:
      address:
        type: string
        example: 172.19.0.4
      user:
        type: string
        example: root
      private_key:
        type: string
        example: -----BEGIN RSA PRIVATE KEY-----
          MIIEowIBAAKCAQEA6gMhsrpGOrl32UXceDM01kaoxtiQ5B527QLrL0h26GQWfqzG
          RXcRMTq8anxUyPyXyY1AXuKJbaq9wHpOL3l5w1pT1EGYv7x+py+MGG1NkY4lprAQ
          c3p8CslHlau3Ac0EL+bQUDfyrxFOGJFjfVxJYb94FfjlQNgCAwxX9F+VvF9c1/Be
          I5vjujGytcKrccZz1f71VgKF2WqdCmFj9gaEm09Vq9Mr3vHaQJpSfsbI2JBdtLNS
          UAWZGwXO9wOdlv3eL64oAwoUSOI8o7gjnHUN9xhO89BS56HiAIOVcRiTcZcK2rtL
          iI5qciu7n1zASGmDRwI6mhbXVufv96KHnrhuRQIDAQABAoIBAQDIkbSRRnypGovx
          aqJjV6hCu78u5zGQg9f0nprLJPXdiuOI4TbzFPFkW25gan4U4gKK2olAijO2DjCi
          x3E52YkWedX9x9dPBxUa4HLYAN8KEWaN7ru67lFgwVGco9ewMHMVR2RmTP2xNUjV
          X8+BA9dVc1FOq8x6fmmDCVJdfouNLh+Dka6oy//TL+dzOhYvzZ+kYiUjVO4LUnia
          yW5/OSC8U23AuoTfzZQ79i8d8rsLNNeIaQ/UlyEa+beO5AK+B+b+RLC8U4Tz0W9f
          EBY1ERXwZbT6NYjoN4d36vfQ9HhAhlYeS7b/75UdECwWk9M9z5sUh1s+U2XDMfSJ
          F8OyBMRlAoGBAPdIatuq1A8y3H3/184qH1KK750MU2Ziwomv03d1Bi6d8VOL45Rq
          cguEyYh334baQsva0UKhpkHF3f83x6PK/kjgp03CVzLUnv+XVKbpHpTy+Z/S7jYL
          fIWgaC/0+NTAJVEsMjJREqvDF+rYnzX3vOoQ8BMlgceKr0It878NqSWXAoGBAPJC
          9FVo1LKhB4GsN3OT+Uufk04lK0I6IDnCOn9OuFF68t61JclsEyyuA3a6jVMOlmeO
          ZhmzPEgWWD3j40P2CK85+0twPwEyGE0hLGBezusqd+eg2MPGgBWICuGXP78uSj/x
          dXRLryYYb8kSGpLYCZ4nzvfj3VtsIdHRvTMooZ6DAoGAHN1lK9MbAdMsDcEpjbU5
          BseVBL4FljP9BVly08TjPdnN67SukgqC2XlclQN5IiKkHWujdaWs5IyWR05ZjXMK
          j7M5lEgVKafMD4W4qesYWMasAM38ZG6e0HJS9xYfXaY4NOt1yI3SIh6Z0h4LJ5+N
          e70SaQm9xm8X2h/HDgwoLG0CgYB2MK4NQSCLqT4FSGShMW7tMwPlmwKYw8zXAOgT
          Fe+caNQ2TMALnXtZT+gGs4qhG7vK99Dd9vCQ5r3UK+rDTDP+cNYlfrRuO+dZMbb5
          qSdf2Y835OP710rDtmRAnM6P0eCNg5pey1G+zysyOG/YdidzDk7N51Al+wIg4Cdi
          3w7CSwKBgEdJQI9TyL7eNU4eVpAeCmy7cJ94inDsRPIEGyisO+z0cJfl9JRfPSGn
          IdWKdL53JCcWSmo6xQ4NcUcZWlIPUjuhQAyB1pOhkMGSUiUmjrVc5w6Ch8wfF7b6
          O8xWtZamHHPYTN++RhRVp9AYV8/CSpYwxafiZz5V2h3t/Ipu/x9U
            -----END RSA PRIVATE KEY-----
  AgentFull:
    type: object
    required:
      - agentId
      - host
      - monitored
    properties:
      agentId:
        type: string
        example: 541
      host:
        type: string
        example: 172.19.0.4
      monitored:
        type: boolean
        example: true
    description: This entity defines an agent with all information available.
